@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');

:root {
    --gen-font: 'Maitree', serif;
    --name-color: #EDF5FC;
    --text-color: #B8C5D6;
    --heading-bg: rgba(49, 38, 62, 0.7);
    --div-bg: rgba(0, 0, 0, 0.7);
}

* {
    box-sizing: border-box;
    margin: 0px;
}

a {
    color: inherit;
}

#content {
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: var(--gen-font);
    min-height: 100vh;

    display: grid;
    grid-template-rows: 2fr 5fr .5fr;
}

.heading {
    display: grid;
    gap: 1rem;
    grid-template-rows: 2fr 1fr;
    background-color: var(--heading-bg);

}

.name {
    color: var(--name-color);
    font-size: 4rem;
    margin-left: 10%;
}

.tabs {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;

    margin-left: 20%;
}

.tabs > button {
    background-color: transparent;
    border: 0px;
    font-size: 2rem;
    color: var(--text-color);
}

.tabs > button:hover {
    border-bottom: 4px solid black;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-color);
}

.middle > div {
    width: 60%;

    background-color: var(--div-bg);
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 1rem;
}

.credit {
    display: flex;
    background-color: var(--div-bg);

    padding-left: 10%;
    color: var(--text-color);
}